@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.triangle-bottom-right{
    position: relative;
    border-bottom-right-radius: 0;
}
.triangle-bottom-right:after {
    content: " ";
    position: absolute;
    right: -12px;
    bottom: 0;
    background: #FFF;
    width: 16px;
    height: 15px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(25% 51%, 50% 74%, 76% 91%, 100% 100%, 0 100%, 0 0, 9% 23%);
}
.triangle-bottom-left{
    position: relative;
    border-bottom-left-radius: 0;
}
.triangle-bottom-left:after {
    content: " ";
    transform: rotate(270deg);
    position: absolute;
    left: -12px;
    bottom: 0;
    background: #FFF;
    width: 16px;
    height: 15px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(25% 51%, 50% 74%, 76% 91%, 100% 100%, 0 100%, 0 0, 9% 23%);
}

.toast {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,.66);
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    -webkit-animation: fade-in-opacity-fade-out-opacity 3s linear forwards;
    animation: fade-in-opacity-fade-out-opacity 3s linear forwards;
    max-width: 22.5rem;
    transition: all 1s;
    z-index: 99999999999;
}
@keyframes fade-in-opacity-fade-out-opacity {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*
    Animations
*/
.scale-from-top-left-enter-active {
    animation: scale-from-top-left 0.2s ease-in-out;
}
.scale-from-top-left-leave-active {
    animation: scale-from-top-left 0.2s ease-in-out reverse;
}
@keyframes scale-from-top-left {
    0% {
        transform-origin: top left;
        opacity: .5;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform-origin: top left;
        transform: scale(1);
    }
}

.scale-from-top-right-enter-active {
    animation: scale-from-top-right 0.2s ease-in-out;
}
.scale-from-top-right-leave-active {
    animation: scale-from-top-right 0.2s ease-in-out reverse;
}
@keyframes scale-from-top-right {
    0% {
        transform-origin: top right;
        opacity: .5;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform-origin: top right;
        transform: scale(1);
    }
}


.scale-from-bottom-right-enter-active {
    animation: scale-from-bottom-right 0.2s ease-in-out;
}
.scale-from-bottom-right-leave-active {
    animation: scale-from-bottom-right 0.2s ease-in-out reverse;
}
@keyframes scale-from-bottom-right {
    0% {
        transform-origin: bottom right;
        opacity: .5;
        transform: scale(.5) translateX(40%) translateY(40%);
    }
    100% {
        opacity: 1;
        transform-origin: top left;
        transform: scale(1);
    }
}


.scale-from-top-right-enter-active {
    animation: scale-from-top-right 0.2s ease-in-out;
}
.scale-from-top-right-leave-active {
    animation: scale-from-top-right 0.2s ease-in-out reverse;
}
@keyframes scale-from-top-right {
    0% {
        transform-origin: top;
        opacity: .5;
        transform: scale(.7) translateX(10%);
    }
    100% {
        opacity: 1;
        transform-origin: top left;
        transform: scale(1);
    }
}


.scale-enter-active {
    animation: scale 0.25s ease-in-out;
}
.scale-leave-active {
    animation: scale 0.25s ease-in-out reverse;
}
@keyframes scale {
    0% {
        transform-origin: center;
        transform: scale(.5);
    }
    100% {
        transform-origin: center;
        transform: scale(1);
    }
}

.scale-fade-enter-active {
    animation: scale-fade 0.25s ease-in-out;
}
.scale-fade-leave-active {
    animation: scale-fade 0.25s ease-in-out reverse;
}
@keyframes scale-fade {
    0% {
        opacity: 0;
        transform-origin: center;
        transform: scaleX(.5);
    }
    100% {
        opacity: 1;
        transform-origin: center;
        transform: scaleX(1);
    }
}

.scale-fade-from-bottom-left-enter-active {
    animation: scale-fade-from-bottom-left 0.45s ease-in-out;
}
.scale-fade-from-bottom-left-leave-active {
    animation: scale-fade-from-bottom-left 0.45s ease-in-out reverse;
}
@keyframes scale-fade-from-bottom-left {
    0% {
        opacity: 0;
        transform-origin: bottom left;
        transform: scale(.1);
    }
    100% {
        opacity: 1;
        transform-origin: bottom left;
        transform: scale(1);
    }
}

.fade-enter-active {
    animation: fade 0.25s ease-in-out;
}
.fade-leave-active {
    animation: fade 0.25s ease-in-out reverse;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.slide-from-right-enter-active {
    overflow-x: hidden;
    animation: slide-from-right .2s;
}
.slide-from-right-leave-active {
    animation: slide-from-right 0.2s reverse;
}
@keyframes slide-from-right {
    0% {
        transform-origin: left;
        transform: translateX(100%);
    }
    100% {
        transform-origin: left;
        transform: translateX(0);
    }
}

.slide-from-left-enter-active {
    overflow-x: hidden;
    animation: slide-from-left .2s;
}
.slide-from-left-leave-active {
    animation: slide-from-left 0.2s reverse;
}
@keyframes slide-from-left {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0);
    }
}



.zoom-in-enter-active {
    overflow: hidden !important;
    animation: zoom-in .2s;
}
.zoom-in-leave-active {
    overflow-x: hidden !important;
    animation: zoom-in .1s reverse;
}
@keyframes zoom-in {
    0% {
        transform: scale(1.05);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-out-enter-active {
    overflow: hidden !important;
    animation: zoom-out .2s;
}
.zoom-out-leave-active {
    overflow-x: hidden !important;
    animation: zoom-out .2s reverse;
}
@keyframes zoom-out {
    0% {
        transform: scale(.8);
        /*opacity: .5;*/
    }
    100% {
        transform: scale(1);
        /*opacity: 1;*/
    }
}


.translate-from-bottom-enter-active {
    overflow: hidden !important;
    animation: translate-from-bottom .2s;
}
.translate-from-bottom-leave-active {
    overflow-x: hidden !important;
    animation: translate-from-bottom .2s reverse;
}
@keyframes translate-from-bottom {
    0% {
        transform: translateY(100%);
        /*opacity: .5;*/
    }
    100% {
        transform: translateY(0);
        /*opacity: 1;*/
    }
}


.rotate-fade-enter-active {
    overflow: hidden !important;
    animation: rotate-fade 1s;
}
.rotate-fade-leave-active {
    overflow-x: hidden !important;
    animation: rotate-fade 1.2s reverse;
}
@keyframes rotate-fade {
    0% {
        transform-origin: center;
        transform: rotate(-90deg);
    }
    100% {
        transform-origin: center;
        transform: rotate(0);
    }
}

.rotate-left {
    animation: rotate-left 0.25s ease-out;
}
.rotate-right {
    animation: rotate-left 0.25s reverse ease-out;
}
@keyframes rotate-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}



