@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/*
    Animations
*/
.scale-from-top-left-enter-active {
    animation: scale-from-top-left 0.2s ease-in-out;
}
.scale-from-top-left-leave-active {
    animation: scale-from-top-left 0.2s ease-in-out reverse;
}
@keyframes scale-from-top-left {
    0% {
        transform-origin: top left;
        opacity: .5;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform-origin: top left;
        transform: scale(1);
    }
}


.scale-from-bottom-right-enter-active {
    animation: scale-from-bottom-right 0.2s ease-in-out;
}
.scale-from-bottom-right-leave-active {
    animation: scale-from-bottom-right 0.2s ease-in-out reverse;
}
@keyframes scale-from-bottom-right {
    0% {
        transform-origin: bottom right;
        opacity: .5;
        transform: scale(.5) translateX(40%) translateY(40%);
    }
    100% {
        opacity: 1;
        transform-origin: top left;
        transform: scale(1);
    }
}


.scale-enter-active {
    animation: scale 0.25s ease-in-out;
}
.scale-leave-active {
    animation: scale 0.25s ease-in-out reverse;
}
@keyframes scale {
    0% {
        transform-origin: center;
        transform: scale(.5);
    }
    100% {
        transform-origin: center;
        transform: scale(1);
    }
}


