@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.toast {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,.66);
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    -webkit-animation: fade-in-opacity-fade-out-opacity 3s linear forwards;
    animation: fade-in-opacity-fade-out-opacity 3s linear forwards;
    max-width: 22.5rem;
    transition: all 1s;
    z-index: 99999999999;
}
@keyframes fade-in-opacity-fade-out-opacity {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*
    Animations
*/
.scale-from-top-left-enter-active {
    animation: scale-from-top-left 0.2s ease-in-out;
}
.scale-from-top-left-leave-active {
    animation: scale-from-top-left 0.2s ease-in-out reverse;
}
@keyframes scale-from-top-left {
    0% {
        transform-origin: top left;
        opacity: .5;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform-origin: top left;
        transform: scale(1);
    }
}

.scale-from-top-right-enter-active {
    animation: scale-from-top-right 0.2s ease-in-out;
}
.scale-from-top-right-leave-active {
    animation: scale-from-top-right 0.2s ease-in-out reverse;
}
@keyframes scale-from-top-right {
    0% {
        transform-origin: top right;
        opacity: .5;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform-origin: top right;
        transform: scale(1);
    }
}


.scale-from-bottom-right-enter-active {
    animation: scale-from-bottom-right 0.2s ease-in-out;
}
.scale-from-bottom-right-leave-active {
    animation: scale-from-bottom-right 0.2s ease-in-out reverse;
}
@keyframes scale-from-bottom-right {
    0% {
        transform-origin: bottom right;
        opacity: .5;
        transform: scale(.5) translateX(40%) translateY(40%);
    }
    100% {
        opacity: 1;
        transform-origin: top left;
        transform: scale(1);
    }
}


.scale-from-top-right-enter-active {
    animation: scale-from-top-right 0.2s ease-in-out;
}
.scale-from-top-right-leave-active {
    animation: scale-from-top-right 0.2s ease-in-out reverse;
}
@keyframes scale-from-top-right {
    0% {
        transform-origin: top;
        opacity: .5;
        transform: scale(.7) translateX(10%);
    }
    100% {
        opacity: 1;
        transform-origin: top left;
        transform: scale(1);
    }
}


.scale-enter-active {
    animation: scale 0.25s ease-in-out;
}
.scale-leave-active {
    animation: scale 0.25s ease-in-out reverse;
}
@keyframes scale {
    0% {
        transform-origin: center;
        transform: scale(.5);
    }
    100% {
        transform-origin: center;
        transform: scale(1);
    }
}


.slide-from-right-enter-active {
    overflow-x: hidden;
    animation: slide-from-right .2s;
}
.slide-from-right-leave-active {
    animation: slide-from-right 0.2s reverse;
}
@keyframes slide-from-right {
    0% {
        transform-origin: left;
        transform: translateX(100%);
    }
    100% {
        transform-origin: left;
        transform: translateX(0);
    }
}

.slide-from-left-enter-active {
    overflow-x: hidden;
    animation: slide-from-left .2s;
}
.slide-from-left-leave-active {
    animation: slide-from-left 0.2s reverse;
}
@keyframes slide-from-left {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0);
    }
}



.zoom-in-enter-active {
    overflow: hidden !important;
    animation: zoom-in .2s;
}
.zoom-in-leave-active {
    overflow-x: hidden !important;
    animation: zoom-in .2s reverse;
}
@keyframes zoom-in {
    0% {
        transform: scale(1.05);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-out-enter-active {
    overflow: hidden !important;
    animation: zoom-out .2s;
}
.zoom-out-leave-active {
    overflow-x: hidden !important;
    animation: zoom-out .2s reverse;
}
@keyframes zoom-out {
    0% {
        transform: scale(.8);
        /*opacity: .5;*/
    }
    100% {
        transform: scale(1);
        /*opacity: 1;*/
    }
}


.translate-from-bottom-enter-active {
    overflow: hidden !important;
    animation: translate-from-bottom .2s;
}
.translate-from-bottom-leave-active {
    overflow-x: hidden !important;
    animation: translate-from-bottom .2s reverse;
}
@keyframes translate-from-bottom {
    0% {
        transform: translateY(100%);
        /*opacity: .5;*/
    }
    100% {
        transform: translateY(0);
        /*opacity: 1;*/
    }
}




